<!DOCTYPE html>
<html>
<head>
	<title> Mastery Checker - LoL </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
	<div class="title">
		<h1>Mastery Checker - League of Legends</h1>
	</div>
	<div class="info">
		<p> Welcome to the Mastery Checker application for League of Legends! Enter your summoner name below to get information about your mastery with champions. </p>
	</div>
	<div class="input">
		<p> Summoner Name <input type="text" id="summoner"></p>
	</div>
</body>
</html>