.title, .info, .input, .summ {
	margin: 20px;
	font-family: Verdana;
	color: #123D6A;
}
div.ui-loader.ui-overlay-shadow { display: none !important; }
.summ {
	text-align: center;
	font-size: 20px;
}
.input {
	font-size: 20px;
}
.logo, .masteries {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.masteries {
	max-width: 800px;
}
.logo {	
	max-width: 600px;
}
.background {
	width: 80%;
	height: 100%;
	margin-left: 10%;
	background: #EDE2DC;
}
.title {
	text-align: center;
}
.ui-page {
	height: 90%;
	background: #5D5C61;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #EDC8B8, #938E94);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #EDC8B8, #938E94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.buttonalign { /*Aligns the center of the div for the button to place it in the center of the page*/
	text-align: center;
}
.button { /*Styling for the submission button*/
	background-color: #123D6A;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
table, td, th{
	border: 1px solid black;
	border-collapse: collapse;
	table-layout: fixed;
}
th, td {
  	padding: 10px;
  	text-align: center;
	width: 26%;
}
th {
  	height: 40px;
  	font-size: 18px;
  	background: #EDC8B8
}
td {
	background: #ffffff
}
.scrollable {
	display: block;
	height: 75%;
	overflow-y: scroll;
	table-layout:fixed; width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.centered {
	margin-top: 25px;
	table-layout:fixed; width:90%;
	margin-left: auto;
	margin-right: auto;
}